.navbar {
    background-color: #141414;
    box-shadow: 25% ;
    font-size: 16px;
    color: white; 
    font-weight: bold; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 24px
}

.card {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 3px; 
    background-color: #2B235F; 
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 100px;
}

.badge {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 3px; 
    border-radius: 100px;
    background-color: #5f3dbc; 
    font-size: 24px; 
    padding: 6px; 
    padding-left: 24px; 
    padding-right: 24px; 
    font-weight: bold;
}