.section-one {
    background: linear-gradient(90deg, #3e2488 0%, #2B235F 10%, #000 100%);
    padding: 150px;
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    justify-items: center; 
    align-content: center; 
    text-align: center;
    gap: 48px;
}

.section-two {
    background: #141414;
    padding: 150px;
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    justify-items: center; 
    align-content: center; 
    text-align: center;
    gap: 48px;
}