.section-one {
    background: linear-gradient(135deg, #2B235F 10%, #141414 80%);
    padding: 100px;
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    justify-items: center; 
    align-content: center; 
    text-align: center;
    gap: 48px;
}

.section-two {
    background: #141414;
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    justify-items: center; 
    align-content: center; 
    text-align: center;
    gap: 48px;
    padding: 100px;
}

.section-tree {
    background: linear-gradient(135deg, #141414 10%, #2B235F 100%);
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    justify-items: center; 
    align-content: center; 
    text-align: center;
    gap: 48px;
    padding: 100px;
}

.section-five {
    background: #141414;
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    justify-items: center; 
    align-content: center; 
    text-align: center;
    gap: 48px;
    padding: 100px;
}

footer {
    background: #141414;
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
    color: white; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    justify-items: center; 
    align-content: center; 
    text-align: center;
    gap: 48px;
}
